<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>get profile</h2>
<h3>status</h3>
<input type="button" value="userName">
</body>
</html>
<script>
  document.querySelector('input').onclick = function () {
    var xhr = new XMLHttpRequest();

    xhr.open('get','http://127.0.0.1:8000/get_profile?account=01', true);
    xhr.onload = function () {
        const obj = JSON.parse(xhr.responseText);
        alert(obj.name)
    };
    xhr.send();
  }
</script>