{% extends 'landing/index.html' %}
{% block content %}
<div class="col-md-3 col-sm-6">
    <!-- <a href="{% url 'index' %}" class="btn btn-light">Back to Feed</a> -->
</div>
<div class="row justify-content-center">
    <div class="col-md-7 post">
        <form method = "post" class="post-form" name="upload_file" enctype="multipart/form-data">
            {% csrf_token %}
            {{ page_form.as_p }}
        	<button type="submit">Submit</button>
        </form>
     </div>
</div>

{% endblock content %}

