#container {
    background-color: rgba(255, 255, 255, 0.678)!important;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
}
#navbar {
    margin: 1em;
    border-radius: 1em;
}
body {
    background: url(background.png) !important;
}

input {
    background: rgba(255, 255, 255, 0.678)!important;
    box-shadow: 0 0 .5em rgba(0, 0, 0, 0.2);
    border:none;
    margin-bottom: 1em !important;
    padding: 1em;
    border-radius: .5em;
    width: 100%
}
#login {
    background: rgb(255, 202, 177) !important;
    color: white;
    border: none;
    font-weight: 700;
}
body .navbar {
    background: rgba(255, 255, 255, 0.678);
    padding: 2em 1em;
}
.nav-item {
    margin-left: 1em;
}
#profile {
    background: rgb(255, 202, 177) !important;
    color: white !important;
}